
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Quên mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/css/font.css" type="text/css" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
</head>
<body class="signup-body">
    <div class="agile-signup">

        <div class="content2">
            <div class="grids-heading gallery-heading signup-heading">
                <h2>Quên Mật Khẩu</h2>
                <h4 style="color:darkred">@TempData["error"]</h4>
            </div>
            <form action="@Url.Action("ForgotPassword","Login")" method="post">
                <input type="email" name="EmployeeEmail" id="EmployeeEmail" placeholder="Email đăng ký" required>
                <input type="submit" class="register" value="Lấy Lại Mật Khẩu">
            </form>
            <a href="@Url.Action("Index","Login")">Quay Lại Đăng Nhập</a>
        </div>
    </div>
</body>
</html>
