
@{
    ViewBag.Title = "SelectGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="height:500px;">
    <form action="@Url.Action("getGroupId","Home")" method="post">
        <select name="GroupId" >
            @foreach (var item in ViewBag.lstGroup)
            {
                foreach (var item1 in ViewBag.lstGroup)
                {
                    if (item.GroupId == item1.GroupId)
                    {
                        <option value="@item1.GroupId">@item1.GroupName</option>
                    }
                }
            }
        </select>
        <input type="submit" value="Chọn Nhóm" />
    </form>
</div>

